*{box-sizing: border-box;}
body{
    font-family: sans-serif;
    padding: 5px;
    background: #D7C0AE;
}
/* header/blog title */
.header{
    padding: 5px;
    text-align: center;
    color: white;
    background: #495C83;
}
/* Style the top navigation bar */
.topnav{
    overflow:hidden;
    background-color: #7A86B6;
}

/* Style the topnav links */
.topnav a{
    float: left;
    color: rgb(40, 31, 144);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover{
    color:rgb(171, 205, 48);
}
/* Create three unequal columns that floats next to each other */
/* Left column */
.leftcolumn{
    float: left;
    width: 20%;
    padding: 5px;
}

/* Middle column */
.middlecolumn{
    float: left;
    width: 30%;
    padding: 5px;
}
/* third */
.thirdcolumn{
    float: left;
    width: 30%;
    padding: 5px;
}
/* Right column */
.rightcolumn{
    float: left;
    width: 20%;
    padding: 5px;
}
/* FAke image */
.fakeimg{
    background-color: #e2d8db ;
    text-align: center;
    width: 100%;
    padding: 20px;
}
/* add a card effect for articles */
.card{
    background-color:#A8A4CE;
    padding: 20px;
    margin-top: 20px;
}

/* clear floats after columnd */
.row:after{
    content:" ";
    display: table;
    clear: both;
}
/* Footer */
.footer{
    padding: 5px;
    text-align: center;
    color: white;
    background: #495C83;
    margin-top: 20px;
}

/* Responsive layout- when the screen is less than 1000px wide*/
@media screen and (max-width: 1000px) {
    .leftcolumn{
        float: left;
        width: 30%;
    }
    .middlecolumn{
        float: left;
        width: 70%;
    }
    .thirdcolumn{
        float: left;
        width: 50%;
    }
    .rightcolumn{
        float: left;
        width: 50%;
        padding-right: 5px;
    }

}

/* Responsive layout - when screen is less than 600px wide*/
@media screen and (max-width:600px){
    .leftcolumn, .middlecolumn, .thirdcolumn, .rightcolumn, .about, .follow{
        float: left;
        width: 100%;
    }
}